
<ion-content>

  <ion-row>
    <ion-col class="home-greetings-col">
      <p class="home-greetings">Olá, Maria Helena!</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="home-intro-col">
      <p class="home-intro">Abaixo você encontrará os níveis do nosso aplicativo.</p>
    </ion-col>
  </ion-row>

  <ion-card class="exercise-card" (click)="toExercisePage()">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 1</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o primeiro módulo do nosso aplicativo. Comece a jogar para conquistar os prêmios!
    </ion-card-content>
  </ion-card>

  <ion-card class="exercise-card">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 2</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o segundo módulo do nosso aplicativo. Jogue para conquistar mais prêmios!
    </ion-card-content>
  </ion-card>

  <ion-card class="exercise-card">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 3</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o terceiro módulo do nosso aplicativo. Jogue para conquistar mais prêmios!
    </ion-card-content>
  </ion-card>

  <ion-card class="exercise-card">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 4</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o quarto módulo do nosso aplicativo. Jogue para conquistar mais prêmios!
    </ion-card-content>
  </ion-card>

  <ion-card class="exercise-card">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 5</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o quinto módulo do nosso aplicativo. Jogue para conquistar mais prêmios!
    </ion-card-content>
  </ion-card>

  <ion-card class="exercise-card">
    <ion-item class="exercise-card-item">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Módulo 6</ion-label>
    </ion-item>

    <ion-card-content>
      Este é o sexto módulo do nosso aplicativo. Jogue para conquistar mais prêmios!
    </ion-card-content>
  </ion-card>

</ion-content>