<ion-content>

  <ion-row class="margin-row">

    <ion-col size="3">
      <ion-avatar class="avatar-icon">
        <img src="../../../../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>

    <ion-col class="profile-options">
      <ion-label class="name">Maria Helena</ion-label>
      <br>
      <ion-label class="edit-profile">Editar Perfil</ion-label>
    </ion-col>

    <ion-col size="2">
      <ion-icon class="icon-forward" name="chevron-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>


  <ion-row class="menu-options" (click)="moveToSignupPatient()"> 
    <ion-item class="menu-items">
      <ion-col class="icon-items-col" size="1">
        <ion-icon class="icon-items" name="people-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-label class="item-title">Cadastrar Paciente</ion-label>
        <br>
        <ion-label class="item-subtitle">Adicione um paciente</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-icon class="icon-forward-items" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>

  <ion-row class="menu-options" (click)="moveToSignupTeacher()">
    <ion-item class="menu-items">
      <ion-col class="icon-items-col" size="1">
        <ion-icon class="icon-items" name="person-add-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-label class="item-title">Cadastrar Orientador</ion-label>
        <br>
        <ion-label class="item-subtitle">Adicione um orientador</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-icon class="icon-forward-items" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>

  <ion-row class="menu-options" (click)="moveToPatientList()">
    <ion-item class="menu-items">
      <ion-col class="icon-items-col" size="1">
        <ion-icon class="icon-items" name="document-text-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-label class="item-title">Lista de Pacientes</ion-label>
        <br>
        <ion-label class="item-subtitle">Pacientes cadastrados</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-icon class="icon-forward-items" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>

  <ion-row class="menu-options" (click)="moveToTeacherList()">
    <ion-item class="menu-items">
      <ion-col class="icon-items-col" size="1">
        <ion-icon class="icon-items" name="file-tray-full-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-label class="item-title">Lista de Orientadores</ion-label>
        <br>
        <ion-label class="item-subtitle">Orientadores cadastrados</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-icon class="icon-forward-items" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>

  <ion-row class="menu-options">
    <ion-item class="menu-items">
      <ion-col class="icon-items-col" size="1">
        <ion-icon class="icon-items" name="hardware-chip-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-label class="item-title">Configurar hardware</ion-label>
        <br>
        <ion-label class="item-subtitle">Realizar a config. do hardware</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-icon class="icon-forward-items" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-row>

  <div class="menu-settings-items">

      <div class="menu-items">
        <ion-item>
        <ion-col class="icon-items-col" size="1">
          <ion-icon class="icon-settings-items" name="help-outline"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-label class="settings-text">Ajuda</ion-label>
        </ion-col>

        <ion-col class="icon-settings-col" size="2">
          <ion-icon class="icon-settings-forward" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-item>
      </div>

      <ion-item class="menu-items">
        <ion-col class="icon-items-col" size="1">
          <ion-icon class="icon-settings-items" name="cog-outline"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-label class="settings-text">Configurações</ion-label>
        </ion-col>

        <ion-col class="icon-settings-col" size="2">
          <ion-icon class="icon-settings-forward" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-item>
  </div>


</ion-content>