$white-color: #ffffff;
$black-color: #000000;
$main-color: #1C5A83;
$green-color: #228B22;
$card-content-color: #0079BE;
$grey-color:#999999;

.margin-row {
	margin-bottom: 32px;
	& .avatar-icon {
		margin: 16px 16px 0 16px;
		padding: 0;
	}
}

ion-avatar {
	width: 70px;
	height: 70px;
}

.profile-options {
	margin: 30px 40px 0 16px;
	& .name {
		font-weight: 500;
		font-size: 16px;
		color: $black-color;
	}
	& .edit-profile {
		margin-top: 30px;
		font-size: 14px;
		font-weight: 300;
		color: $black-color;
	}
}

.icon-forward {
	margin: 34px 8px 8px 16px;
	font-size: 20px;
}

.menu-options {
	padding: 0 16px 0 16px;
}

.menu-items {
	width: 100%;
}

.menu-options-items {
	margin: 6px 16px 6px 6px;
}

.item-title {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: -16px;
	color: $black-color;
}

.item-subtitle {
	font-weight: 300;
	font-size: 14px;
	color: $black-color;
}

.icon-items-col {
	margin-right: 4px;
}

.icon-items {
	font-size: 20px;
	padding: 0;
	color: $main-color;
}

.icon-forward-items {
	font-size: 20px;
	margin: 18px 0 16px 30px;
	color: $black-color;
}

.menu-settings-items {
	margin: 24px 16px 0 0;
}

.settings-text {
	font-weight: bold;
	opacity: 0.5;
	font-size: 16px;
	color: $black-color;
}

.icon-settings-items {
	opacity: 0.5;
	color: $black-color;
}

.icon-settings-forward {
	font-size: 20px;
	opacity: 0.5;
	color: $black-color;
}

.icon-settings-col {
	margin-right: -30px;
}

ion-item{
	--border-color: #a0a399;
}
