<ion-content>

  <ion-row class="header-page">
    <ion-col size="2">
      <app-close-button (click)="closeTeacherSignup()"></app-close-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="avatar-col">
      <ion-avatar class="avatar-icon">
        <img src="../../../../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>
  </ion-row>

  <form class="form" [formGroup]="userEditForm" (ngSubmit)="onChange(userEditForm.value.name,
    userEditForm.value.email,
    userEditForm.value.password,
    userEditForm.value.passwordConfirmation)">

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Nome
      </ion-label>
      <ion-input formControlName="name" type="text" value="{{user?.name}}">
      </ion-input>
    </ion-item>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Email
      </ion-label>
      <ion-input formControlName="email" type="email" value="{{user?.email}}">
      </ion-input>
    </ion-item>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Senha
      </ion-label>
      <ion-input formControlName="password" type="password">
      </ion-input>
    </ion-item>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Confirmar senha
      </ion-label>
      <ion-input formControlName="passwordConfirm" type="password">
      </ion-input>
    </ion-item>

    <!-- <ion-row>
      <ion-col class="textarea-col">
        <ion-item class="textarea-item">
          <ion-label class="textarea-lbl" position="stacked">Comentário</ion-label>
          <ion-textarea formControlName="comment" clearOnEdit="true" placeholder="Digite um comentário...">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <ion-button class="signup-button" type="submit" expand="block" fill="solid">Atualizar</ion-button>

  </form>

</ion-content>