<ion-content>

  <ion-row class="header-page">
    <ion-col size="2">
      <button class="button-close" (click)="closeRevisePatient()" icon-only>
        <ion-icon class="icon-close" name="close-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <form class="form" [formGroup]="patientForm" (ngSubmit)="onChange(patientForm.value.name, 
                              patientForm.value.age,
                              patientForm.value.diseaseLevel,
                              patientForm.value.colorsIssue,
                              patientForm.value.observation)">

    <ion-row>
      <ion-col size="12" class="avatar-col">
        <ion-avatar class="avatar-icon">
          <img src="../../../../../assets/images/avatar.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Nome do paciente
      </ion-label>
      <ion-input formControlName="name" type="text" value="{{patient.name}}">
      </ion-input>
    </ion-item>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Idade
      </ion-label>
      <ion-input formControlName="age" type="number" value="{{patient.age}}">
      </ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group allow-empty-selection = "true" name="radio-group" (ionChange)="diseaseLevelRadioGroupChange($event)" #diseaseLevelRadioGroup>
        <ion-list-header>
          <ion-label class="p-label-form">Grau de autismo</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let entry of diseaseLevel, let i = index" lines="none" class="ion-radio-item">
          <ion-label class="radio-label">{{ entry.title }}</ion-label>
          <ion-radio slot="start" formControlName="diseaseLevel" value="{{entry.title}}"></ion-radio>
      </ion-item>
      </ion-radio-group>
    </ion-list>

    
    <ion-list>
      <ion-radio-group  allow-empty-selection = "true" name="radio-group" (ionChange)="colorsIssueRadioGroupChange($event)" #colorsIssueRadioGroup>
        <ion-list-header>
          <ion-label class="p-label-form">Problema com Cores </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let issue of colorsIssue, let i = index" lines="none" class="ion-radio-item">
          <ion-label class="radio-label">{{ issue.title }}</ion-label>
          <ion-radio slot="start" formControlName="colorsIssue" value="{{issue.title}}"></ion-radio>
      </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-row>
      <ion-col class="textarea-col">
        <ion-item class="textarea-item">
          <ion-label class="textarea-lbl" position="stacked">Observação</ion-label>
          <ion-textarea formControlName="observation" clearOnEdit="true" placeholder="Digite alguma observação..." value="{{patient.observation}}">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button type="submit" class="signup-button" fill="solid">Atualizar</ion-button>

  </form>

</ion-content>