<ion-content>

  <ion-row class="header-page">
    <ion-col size="2">
      <app-close-button (click)="closeTeacherList()"></app-close-button>
    </ion-col>
  </ion-row>

  <p class="teacher-list-title">Lista de Orientadores</p>

  <div *ngFor="let advisor of advisorList">

    <ion-card class="exercise-card">
      <ion-row class="card-header">
        <ion-col size="3">
          <ion-avatar>
            <img class="avatar-icon" src="../../../../../assets/images/avatar.png" />
          </ion-avatar>
        </ion-col>
        <ion-col class="lbl-teacher-name-col">
          <ion-label class="lbl-teacher-name">{{advisor.name}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-card-content class="card-content">
        <ion-row>
          <ion-col>
            <p class="p-title-card-content">Profissão</p>
            <p class="p-subtitle-card-content">{{advisor.profession}}</p>
            <ion-item style="height: 1px"></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="p-title-card-content">Escolaridade</p>
            <p class="p-subtitle-card-content">{{advisor.education}}</p>
            <ion-item style="height: 1px"></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="p-title-card-content">Especializacao</p>
            <p class="p-subtitle-card-content">{{advisor.specialization}}</p>
            <ion-item style="height: 1px"></ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <div class="card-footer">
        <ion-row>
          <ion-col size="2">
            <button class="settings-button" (click)="updateTeacher(advisor)" icon-only>
              <ion-icon class="icon-settings" name="options-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>

  </div>

  <div *ngIf="messageError">
    <img class="no-advisors-exclamation" src="../../../../../assets/images/exclamacao.png" />
    <p class="no-advirsors-text"><b>Ops!</b> Parece que você não possui nenhum orientador cadastrado. 
      Você pode adicionar a qualquer momento clicando no botão no final desta tela.
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="signupTeacher()" class="fab-button-add" fill="clear">
      <ion-icon name="add" class="icon-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>