$white-color: #ffffff;
$black-color: #000000;
$main-color: #1c5a83;
$green-color: #228b22;
$orange-color: #f26f39;

.header-page {
	padding: 16px 0;
}

.progress-bar-col {
	margin-right: 16px;

	& .progress-bar {
		height: 10px;
		margin-top: 10px;
	}
}

.example-card {
	border-radius: 6px;
	padding: 8px;
	margin: 24px 50px;
	& .example-image {
		height: 90px;
		display: block;
		margin: 0 auto;
	}
	& .example-text {
		font-size: 24px;
		color: $black-color;
		text-align: center;
		padding: 0;
	}
}

.exercise-label {
	padding: 20px 0 10px 16px;
	font-size: 20px;
	color: $black-color;
	text-align: center;
	font-weight: 500;
}

.comparison-card {
	border-radius: 6px;
	height: 150px;
	width: 150px;
	margin: 16px 16px;
	& .button-answer {
		background: none;
		width: 100%;
		border: none;
		&:active, &:focus {
			border-style: none;
			outline: none;
		}
		& .comparison-image {
			height: 50px;
			display: block;
			margin: 0 auto;
			margin-top: 16px;
		}
		& .comparison-text {
			padding-top: 20px;
			padding-bottom: 10px;
			font-size: 18px;
			color: $black-color;
			text-align: center;
		}
	}
}

ion-progress-bar{
	--buffer-background: #a0a399;
	--progress-background: #1c5a83;
}

