$white-color: #ffffff;
$black-color: #000000;
$main-color: #1C5A83;
$green-color: #228B22;
$card-content-color: #0079BE;
$grey-color:#999999;

.header-page{
    padding: 16px 0;
}

.icon-close{
    padding-left: 10px;
    font-size: 30px;
}

.button-close, .settings-button{
    background-color: $white-color;
}

.patient-list-title{
    padding-top: 6px;
    padding-left: 16px;
    font-size: 22px;
    font-weight: bold;
}

.avatar-icon{
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.item-text-form{
    --border-color: #999999;
    padding-right: 16px;
}

.label-form{
    color:$grey-color;
}

.p-label-form{
    color:$grey-color;
    padding-top: 24px;
    padding-left: 16px;
}

.checkbox-disease{
    margin: 12px 6px 0px 16px;
}

.checkbox-lbl{
    margin-left: 6px;
    margin-top: 14px;
    color:$grey-color;
}

.colorIssue-checkbox{
    margin: 10px 16px;
}

.colorIssue-lbl{
    margin-top: -37px;
    margin-left: 50px;
    color: $grey-color;
}

.textarea-col{
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 0 !important;
}

.textarea-lbl{
    color: $grey-color;
}

.signup-button{
    padding: 0 16px;
    background-color: $white-color;
    color: $white-color;
    position: fixed;
    bottom: 16px;
    width: 100%;
}

ion-button{
    --background:#1C5A83;
}

ion-checkbox{
    --background-checked: #1C5A83;
}