<ion-content class="ion-padding">

  <ion-row class="header-page">
    <ion-col size="2">
      <button class="button-close" (click)="backToIndex()" icon-only>
        <ion-icon class="icon-close" name="close-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>


  <ion-grid>
    <ion-row>
      <ion-col class="home-icon">
        <img class="logo-image" src="../../../../../assets/images/logo_tat.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title-col">
        <p class="title"><b>TEAcher`s Assistant Tools</b></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form class="form" [formGroup]="userForm" (ngSubmit)="onSign(userForm.value.user, userForm.value.password)">

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        E-mail
      </ion-label>
      <ion-input formControlName="user" type="text">
      </ion-input>
    </ion-item>

    <ion-item class="item-text-form">
      <ion-label class="label-form" position="floating">
        Senha
      </ion-label>
      <ion-input formControlName="password" type="password">
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="checkbox-col" size="1">
        <ion-checkbox color="dark" class="checkbox" checked="false"></ion-checkbox>
      </ion-col>
      <ion-col class="label-pwd-col">
        <ion-label class="label-pwd">
          Lembrar senha
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-button expand="block" type="submit" class="login-button" [disabled]="false">
      Entrar
    </ion-button>

    <ion-row class="label-forgot-pwd-col">
      <a>
        <ion-label class="label-forgot-pwd">
          Esqueceu a senha
        </ion-label>
      </a>
    </ion-row>





  </form>
</ion-content>