$main-color: #1C5A83;
$grey-color:#999999;
$black-color: #000000;
$white-color: #ffffff;

.header-page{
    padding: 0;
}

.logo-image{
    display: block;
    margin: 0 auto;
}

.home-icon{
    text-align: center;
    margin-top: 20px;
}

.title-col{
    padding: 24px 0;
}

.title{
    text-align: center;
    font-size: 18px;
    color: $main-color;
}

.item-text-form{
    --border-color: #999999;
    padding-right: 16px;
    margin-bottom: 24px;
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.label-form{
    color:$grey-color;
}

.login-button{
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 14px;
}

ion-button{
    --background:#1C5A83;
}

.checkbox-col{
    margin-left: 16px;
}

.label-pwd-col{
    margin-left: 16px;
}
.label-pwd{
    color: $black-color;
    margin-top: -5px;
}
.label-forgot-pwd-col{
    padding: 16px 18px;
}

.label-forgot-pwd{
    text-align: center;
}

ion-checkbox{
    --background-checked: #1C5A83;
    border: 1px solid #000000;
}


ion-input{
    color: black;
}
