$white-color: #ffffff;
$black-color: #000000;
$main-color: #1C5A83;
$green-color: #228B22;
$card-content-color: #0079BE;
$grey-color:#999999;

.header-page{
    padding: 16px 0;
}

.avatar-col{
    margin-top: -20px;
}

.avatar-icon{
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.item-text-form{
    --border-color: #999999;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.label-form{
    color:$grey-color;
}

.p-label-form{
    color:$grey-color;
    padding-top: 24px;
    padding-left: 16px;
}

.textarea-col{
    padding-top: 40px;
    padding-left: 0 !important;
}

.textarea-item{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

.textarea-lbl{
    color: $grey-color;
}

.signup-button{
    padding: 0 16px;
    background-color: $white-color;
    color: $white-color;
    position: fixed;
    bottom: 16px;
    width: 100%;
}

ion-button{
    --background:#1C5A83;
}

ion-input{
    color: $black-color;
}

ion-textarea{
    color: $black-color;
}