$black-color: #000000;
$main-color: #1c5a83;

.report-title-col{
    padding: 24px 16px 0 16px;
    margin-bottom: 8px;

    .report-title{
        font-weight: 500;
        font-size: 20px;
        color: $black-color;
        margin: -26px 0 0 40px;
    }

    .report-icon {
        font-size: 32px;
        color: $main-color;
    }

    .report-subtitle{
        font-weight: 500;
        font-size: 20px;
        color: $black-color;
        text-align: center;
    }

}

.report-intro-col{
    padding: 0 16px;
    margin-bottom: 24px;

    .report-intro{
        font-size: 16px;
        color: $black-color;
        font-weight: 300;
    }
}

.bar-chart{
    padding: 0 16px;
}

.pie-chart {
    margin: 16px 0;
}