$black-color: #000000;

.home-greetings-col{
    padding: 24px 16px 0 16px;
    margin-bottom: 8px;
}

.home-greetings{
    font-weight: 500;
    font-size: 20px;
    color: $black-color;
}

.home-intro-col{
    padding: 0 16px;
    margin-bottom: 24px;
}

.home-intro{
    font-size: 16px;
    color: $black-color;
    font-weight: 300;
}