
.user-profile{
    height: 100px;
}

.avatar-icon{
    margin: 16px 16px 40px 16px;
    padding: 0;
}

ion-avatar{
    width: 70px;
    height: 70px;
}

.profile-options{
    margin: 30px 40px 0 16px;
}

.name{
    font-weight: bold;
    font-size: 16px;
}

.edit-profile{
    margin-top: 30px;
    font-size: 14px;
}

.icon-forward{
    margin: 34px 8px 8px 16px;
    font-size: 20px;
}

.menu-options{
    margin: 20px 16px 0 6px;
}

.menu-options-items{
    margin: 6px 16px 6px 6px;
}

.item-title{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: -16px;
}

.item-subtitle{
    font-weight: normal;
    font-size: 14px;
}

.icon-items-col{
    margin-right: 4px;
}

.icon-items{
    font-size: 20px;
    padding: 0;
}

.menu-items{
    width: 100%;
}

.icon-forward-items{
    font-size: 20px;
    margin: 18px 0 16px 30px;
}

.menu-settings-items{
    margin: 24px 16px 0 0;
}

.settings-text{
    font-weight: bold;
    opacity: 0.5;
    font-size: 16px;
}

.icon-settings-items{
    opacity: 0.5;
}

.icon-settings-forward{
    font-size: 20px;
    opacity: 0.5;
}

.icon-settings-col{
    margin-right: -30px;
}