<ion-content class="ion-padding">

  <!-- <ion-grid>
    <ion-row>
      <ion-col class="home-icon">
        <img class="logo-image" src="../../../../../assets/images/logo_tat.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title-col">
        <p class="title"><b>TEAcher`s Assistant Tools</b></p>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div class="lottie-animation"></div>
  <lottie-animation></lottie-animation>

  <ion-row>
    <ion-col class="introduction-col">
      <p class="introduction">
        EDUCAÇÃO E TRATAMENTO <br> ACESSÍVEL PARA TODOS.
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="login-button-row">
    <ion-col>
      <ion-button (click)="moveToLogin()" expand="block" class="login-button" [disabled]="false">
        Login
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="moveToSignup()" expand="block" class="signup-button" [disabled]="false">
        Cadastrar-se
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>