<div class="container">
  <h1 class="title">Ola, Fulano</h1>
  <p class="sub-title">Aqui você pode escolher o módulo que deseja iniciar a diversão</p>

  <mat-card class="margin-cards">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="description">Modulo 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="description">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="position-button">
        <button class="button-styles" mat-button>Entrar</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="margin-cards">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="description">Modulo 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="description">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="position-button">
        <button class="button-styles" mat-button>Entrar</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="margin-cards">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="description">Modulo 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="description">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="position-button">
        <button class="button-styles" mat-button>Entrar</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>