<div class="container">
  <h1 class="title">Ola, Fulano</h1>
  <p class="sub-title">Aqui você pode escolher o módulo que deseja iniciar a diversão</p>

  <ion-card>
    <img class="image-level-one" src="../assets/images/level-one.jpg" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Level 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, 
      Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
    <div class="position-button">
      <ion-button size="large" color="light">ENTRAR</ion-button>
    </div>
  </ion-card>

</div>