.container {
  padding: 16px;
}

.title {
  font-size: 1.25rem;
  color: #111111;
  padding-bottom: 4px;
}

.sub-title {
  font-size: 0.875rem;
  color: #111111;
  padding-bottom: 32px;
}

.position-button {
  display: flex;
  justify-content: flex-end;
}

.description {
  color: #111111;
}

.margin-cards{
  margin-bottom: 16px;
}

.image-level-one {
  height: 200px;
  width: 100%;
}

.button {
  background-color: #FFFFFF;
}