<ion-content>

  <ion-row>
    <ion-col class="home-greetings-col">
      <p class="home-greetings">Olá, Maria Helena!</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="home-intro-col">
      <p class="home-intro">Abaixo você encontrará os níveis do nosso aplicativo.</p>
    </ion-col>
  </ion-row>

  <div class="container-cards" *ngFor="let level of Level; let i = index" [ngStyle]="{'opacity': updateCard(i) ? '50%' : '100%'}">
    <ion-card class="exercise-card" (click)="toExercisePage(level.src)">
      <ion-item>
        <ion-icon class="icon-book" name="book-outline" slot="start"></ion-icon>
        <ion-label class="title-label">{{level.name}}</ion-label>
      </ion-item>

      <ion-card-content>
        {{level.text}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>