$black-color: #000000;

.home-greetings-col{
    padding: 24px 16px 0 16px;
    margin-bottom: 8px;
}

.home-greetings{
    font-weight: bold;
    font-size: 24px;
    color: $black-color;
}

.home-intro-col{
    padding: 0 16px;
    margin-bottom: 24px;
}

.home-intro{
    font-size: 18px;
    color: $black-color;
}

.exercise-card{
    border-radius: 4px;
    border: 1px solid black;
}

.exercise-card-item{
    width: 90%;
}

.icon-book{
    color: $black-color;
}

.title-label{
    color: $black-color;
}