$black-color: #000000;
$white-color: #ffffff;
$orange-color: #f26f39;
$main-color:  #1c5a83;

.home-greetings-col {
    padding: 24px 16px 0 16px;
    margin-bottom: 8px;
    & .home-greetings {
        font-weight: bold;
        font-size: 20px;
        color: $black-color;
    }
}

.home-intro-col {
    padding: 0 16px;
    margin-bottom: 24px;
    & .home-intro {
        font-size: 16px;
        color: $black-color;
    }
}

.container-cards {
    display: flex;
    justify-content: center;
    & .exercise-card {
        border-radius: 4px;
        background-color: $main-color;
        width: 100%;
        color: $white-color;
        & .icon-book {
            color: $black-color;
        }

        & .title-label {
            color: $black-color;
        }
    }

    & ion-card-content{
        font-weight: 600;
        color: $white-color;
    }
}