<ion-content>

  <ion-row class="header-page">
    <ion-col size="2">
      <button class="button-close" (click)="closeTeacherSignup()" icon-only>
        <ion-icon class="icon-close" name="close-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-avatar class="avatar-icon">
        <img src="../../../../../assets/images/avatar.png" />
      </ion-avatar>
    </ion-col>
  </ion-row>

  <form class="form" 
        [formGroup]="advisorForm" 
        (ngSubmit)="onSignup(advisorForm.value.name, 
                            advisorForm.value.profession,
                            advisorForm.value.education,
                            advisorForm.value.specialization,
                            advisorForm.value.comment)">

  <ion-item class="item-text-form">
    <ion-label class="label-form" position="floating">
      Nome do Orientador(a)
    </ion-label>
    <ion-input formControlName="name" type="text">
    </ion-input>
  </ion-item>

  <ion-item class="item-text-form">
    <ion-label class="label-form" position="floating">
      Profissão
    </ion-label>
    <ion-input formControlName="profession" type="text">
    </ion-input>
  </ion-item>

  <ion-item class="item-text-form">
    <ion-label class="label-form" position="floating">
      Escolaridade
    </ion-label>
    <ion-input formControlName="education" type="text">
    </ion-input>
  </ion-item>

  <ion-item class="item-text-form">
    <ion-label class="label-form" position="floating">
      Grau de especialização
    </ion-label>
    <ion-input formControlName="specialization" type="text">
    </ion-input>
  </ion-item>


  <ion-row>
    <ion-col class="textarea-col">
      <ion-item class="textarea-item">
        <ion-label class="textarea-lbl" position="stacked">Comentário</ion-label>
        <ion-textarea formControlName="comment" clearOnEdit="true" placeholder="Digite um comentário..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-button class="signup-button" type="submit" expand="block" fill="solid">Cadastrar</ion-button>

</form>

</ion-content>